@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 1px solid red !important; */
}

body {
    overflow-x: hidden;
}

:root {
    --primary: #111827;
    --primary-transparant: rgba(17, 24, 39, 0.8);
}

section {
    height: 100vh;
    width: 100%;
    background: var(--primary);
}

.navbar {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    background: var(--primary-transparant);
    backdrop-filter: blur(7px);
}

.navbar-icon {
    position: fixed;
    top: 15%; /* Posisi vertikal */
    left: 50%; /* Posisi horizontal */
    transform: translateX(-50%); /* Memindahkan container ke tengah */
    display: flex;
    justify-content: center; /* Memastikan ikon tersebar rata dan tetap di tengah */
    align-items: center;
    gap: 100px; /* Sesuaikan jarak antar ikon */
    width: auto; /* Biarkan lebar otomatis */
    padding: 0 20px; /* Tambahkan padding agar tidak terlalu sempit */
}

.home-img {
    z-index: 11;
    width: 32px; /* Atur lebar gambar ikon */
    height: auto; /* Biarkan tinggi gambar mengikuti proporsi aslinya */
    cursor: pointer;
    transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}

.profile-img,
.email-img,
.mode-img {
    z-index: 11;
    cursor: pointer;
    width: 27px; /* Atur lebar gambar ikon */
    height: auto; /* Biarkan tinggi gambar mengikuti proporsi aslinya */
    transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}

.home-img:hover,
.email-img:hover,
.profile-img:hover,
.mode-img:hover {
    scale: 1.2;
    filter: drop-shadow(0px 0px 5px rgba(118, 197, 229, 0.5));
    -webkit-filter: drop-shadow(0px 0px 5px rgba(118, 197, 229, 0.5));
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14%;
}

.konten-home {
    padding-left: 14%;
    align-items: center;
}

.konten-home-img {
    margin-right: 14%;
    width: auto;
    height: auto;
}

.garis {
    padding-left: 2px;
    display: flex;
    align-items: center;
}

.text-wrapper-2 {
    color: #7bceef;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 10px;
}

.rectangle {
    width: 200px;
    height: 1px;
    flex-shrink: 0;
    background: #d9d9d9;
}

.text-name {
    color: #e5e7eb;
    text-align: left;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
}

.keahlian {
    color: #9ca3af;
    text-align: left;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
}

.detail {
    padding-left: 2px;
    color: #e5e7eb;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-cv {
    margin-left: 2px;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #568caa;
    text-align: center;
    cursor: pointer;
}

.button-cv:hover {
    background: rgba(102, 169, 199, 0.1);
}

.text-cv {
    color: #66a9c7;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 14px;
}

.container-about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18%;
}

.konten-about-me {
    padding-left: 14%;
    align-items: center;
}

.konten-about-me-img {
    padding-right: 20%;
    width: auto;
    height: auto;
}

.about-me-img {
    cursor: pointer;
    width: 220px;
    height: 330px;
    filter: grayscale(100%);
    transition: transform 0.1s ease-in-out;
    transition-delay: 0.1s;
    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    -ms-transition: transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
}

.about-me-img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.text-about-me {
    color: #7bceef;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 10px;
}

.detial-about-me {
    color: #e5e7eb;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e5e7eb;
    text-align: center;
    padding: 10px;
    font-family: Poppins;
    font-size: 14px;
    line-height: normal;
    font-style: normal;
    letter-spacing: 5px;
    background: var(--primary);
}

/* CSS untuk perangkat mobile atau layar kecil */
@media only screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        height: 50px;
    }

    .navbar-icon {
        align-items: center;
        top: 10%;
        gap: 50px;
        margin: 0 auto;
        justify-content: center;
    }

    .home-img {
        z-index: 11;
        width: 25px; /* Atur lebar gambar ikon */
        height: auto; /* Biarkan tinggi gambar mengikuti proporsi aslinya */
        cursor: pointer;
    }

    .profile-img,
    .email-img,
    .mode-img {
        z-index: 11;
        cursor: pointer;
        width: 20px; /* Atur lebar gambar ikon */
        height: auto; /* Biarkan tinggi gambar mengikuti proporsi aslinya */
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .container-about-me {
        flex-direction: column;
        align-items: center;
    }

    .rectangle {
        width: 100px;
    }

    .konten-about-me-img {
        padding-right: 0%;
    }

    .konten-home {
        padding-top: 50px;
    }

    .text-wrapper-2 {
        margin-left: -30px;
    }

    .text-name,
    .keahlian {
        font-size: 30px;
        line-height: 30px;
        padding: 0px;
        margin-left: -30px;
    }

    .detail {
        font-size: 12px;
        text-align: justify;
        margin-left: -30px;
        margin-right: 30px;
    }

    .button-cv {
        scale: 0.8;
        margin-left: -45px;
    }

    .frontend-designer {
        padding-left: 14%;
        width: 400px;
    }

    .about-me-img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 180px;
        height: auto;
    }

    .text-about-me {
        font-size: 20px;
        margin-left: -30px;
    }

    .detial-about-me {
        font-size: 12px;
        margin-left: -30px;
        margin-right: 30px;
        text-align: justify;
    }

    footer {
        margin-top: -50px;
        font-size: 10px;
    }
}
